# Rust build artifacts
/target/
cli/target/
debug/
.env

# Python build artifacts
*.pyc
__pycache__/
*.egg-info/
sdks/python/dist/
sdks/python/build/

# Node.js dependencies
node_modules/

# SDK build artifacts
sdk/*/dist/

# vscode stuff
*.code-workspace
.vscode

/public

rcms.json

.pypirc